body {
    color: #FFF;
    cursor: url(../assets/Cursor1.svg), auto;
    overflow: hidden;
    font-family: "Feather Bold";
}

.background-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
}

#youtubeVideo {
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    min-width: 177.78vh;
    transform: translate(-50%, -50%);
    min-height: 100vh;
}

header {
    z-index: 1;
    display: flex;
    position: relative;
    box-shadow: 0px 2px 15px #000;
    align-items: center;
    flex-direction: column;
    background-color: #131E22F2;
}

header h1:hover {
    transform: scale(1.1);
}

header p {
    width: fit-content;
    inset: 9px 0 0 80px;
    height: fit-content;
    position: absolute;
}

.buttons {
    inset: 6.4px;
    position: absolute;
}

.buttons button {
    padding: 15px;
    position: absolute;
    background-size: cover;
    background-color: #5550;
    background-repeat: no-repeat;
    background-position: center;
}

button#homeButton {
    top: -2px;
    left: -3px;
    position: absolute;
    background-size: 27px;
    background-image: url(../assets/header-main/Home.svg);
}

button#homeButton a {
    top: 2px;
    left: 2px;
    width: 27px;
    height: 28px;
    z-index: 1;
    position: absolute;
}

button#muteButton {
    top: -2px;
    left: 35px;
    position: absolute;
    background-image: url(../assets/header-main/Mute.svg);
}

button#settingsButton {
    top: -2.3px;
    right: 36px;
    position: absolute;
    background-image: url(../assets/header-main/Enginner.svg);
}

button#fullscreenButton {
    top: -2.08px;
    right: -2px;
    position: absolute;
    background-image: url(../assets/header-main/Fullscreen.svg);
}

header h1 {
    margin: 4.7px 0;
    font-size: 23px;
    letter-spacing: 0.46px;
}

.rainbow-line {
    width: 100%;
    height: 0.6px;
    background-size: 50% 100%;
    background-image: linear-gradient(90deg, #00B010, #00B010, #0EC6E8, #0050C0, #0050C0, #8C58A3, #8C58A3, #F7421E, #FF0000, #F7421E, #8C58A3, #8C58A3, #0050C0, #0050C0, #0EC6E8,#00B010, #00B010);
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.container {
    z-index: 1;
    position: relative;
}

.ferramentabar {
    height: 0;
    background-color: #131E22;
    position: absolute;
    top: 31.5px;
    right: 35.8px;
    overflow: hidden;
    transition: height 0.3s;
    width: 29.5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.first-access-form {
    width: fit-content;
    height: fit-content;
    margin: 5px auto;
    border: 1.5px solid #26253CA6;
    padding: 15px;
    z-index: 1;
    position: relative;
    text-align: center;
    border-radius: 6px;
    background-color: #0D0D0D8C;
}

h3 {
    margin: 0 0 15px 0;
    font-size: larger;
    text-shadow: 1px 2px 3px #000;
}

label {
    font-size: 16px;
    font-family: Georgia;
    text-shadow: 1.3px 1px 3px #000;
}

.modality-field select {
    width: 131px;
    border: 2px solid #E7E6E6;
    height: 36px;
    background: #FFFFB3;
    box-shadow: 3px 5px 9px 0px #00000073;
    box-sizing: border-box;
    padding: 0 0 0 25px;
    border-radius: 15px;
}

form button {
    margin: 15px 0 0 0;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    border-radius: 6px;
    background-color: #F94B63;
}

.toolbar {
    top: 47px;
    left: 4.5px;
    width: 3.5%;
    bottom: 8px;
    border: 1px solid #FFF;
    padding: 10px;
    display: flex;
    position: fixed;
    flex-wrap: nowrap;
    border-radius: 7px;
    flex-direction: column;
    justify-content: space-around;
    background-color: #131E22E0;
}

.toolbar-item {
    color: white;
    border: 1px solid #FFF;
    cursor: pointer;
    padding: 21px;
    border-radius: 7px;
    background-color: #555;
}

.toolbar-item {
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s;
}

.toolbar-item:hover {
    transform: scale(1.1);
}

#youtube {
    background-image: url(../assets/toolbar/Youtube.svg);
}

#mindfulness {
    background-image: url(../assets/toolbar/Mindfulness.svg);
}

#calendar {
    background-image: url(../assets/toolbar/Calendar.svg);
}

#pomodoro {
    background-image: url(../assets/toolbar/Pomodoro.svg);
}

#spotify {
    background-image: url(../assets/toolbar/Spotify.svg);
}

#notebook {
    background-image: url(../assets/toolbar/Notebook.svg);
}

#task {
    background-image: url(../assets/toolbar/Nots.svg);
}

#youtube.active-button, #mindfulness.active-button, #calendar.active-button, #pomodoro.active-button, #spotify.active-button, #notebook.active-button, #task.active-button {
    border: 2px solid #FFF;
    transform: scale(1.15);
    transition: transform 0.5s, background-color 0.5s ease;
    background-color: #949494;
}

.workspace {
    top: 38.99px;
    right: 0;
    width: 94.15%;
    height: 95.37%;
    overflow: hidden;
    position: absolute;
    background-color: aliceblue;
}

#tool1, #tool2, #tool3, #tool4, #tool5, #tool6, #tool7 {
    width: 0px;
    height: 0px;
    cursor: move;
    border: none;
    overflow: hidden;
    position: absolute;
    border-radius: 16px;
    background-color: #333333f7;
}

.tool-content {
    padding: 0px;
}

#tool1 .header {
    width: 292px;
    height: 33.044px;
    display: flex;
    padding: 4px;
    align-items: center;
    border-bottom: 1.4px solid #FFF;
    justify-content: space-between;
}

#tool1 h1 {
    margin: 1px 0 0 13px;
    font-size: 11.1px;
    font-weight: bold;
    font-family: Arial;
    letter-spacing: 0.3px;
}

#tool1 #minimize-icon {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#tool1 hr {
    width: 9px;
    border: 1.5px solid #FFF;
}

#tool1 .body {
    margin: 7px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tool1 label {
    margin: 25.1px 0 3.86px 0;
    font-size: 11.5px;
    font-weight: bold;
    font-family: Arial;
    text-shadow: none;
    letter-spacing: 0.22px;
}

#tool1 input#videoUrl {
    margin: 0 0 -3px 0;
    border: 1.4px solid #515151;
    height: 24px;
    width: 153.67px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    background-color: #D9D9D9;
}

#tool1 input#videoUrl::placeholder {
    color: #4C5053;
    font-size: 9.9px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.18px;
}

#tool1 button#btn {
    inset: 3.35px 0 0 0;
    position: relative;
}

#tool1 button#btn {
    color: #4C5053;
    width: 164.67px;
    height: 28.7px;
    border: 1.4px solid #515151;
    padding: 6px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 7px;
    letter-spacing: 0.3px;
    background-color: #FFF;
}

#tool2 {
    z-index: 1;
    position: absolute;
    align-items: center;
    border-radius: 15px;
    pointer-events: none;
    justify-content: center;
    background-color: #000000eb;
}

#tool2 #circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F14507;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: Feather;
    color: #ffffff;
    transition: all 4s ease-in-out;
}

#tool3 {
    /*...*/
}

#tool4 .header{
    width: 292px;
    height: 33.044px;
    display: flex;
    padding: 4px;
    align-items: center;
    border-bottom: 1.4px solid #FFF;
    justify-content: space-between;
}

#tool4 h1 {
    margin: 1px 0 0 13px;
    font-size: 11.5px;
    font-weight: bold;
    font-family: Arial;
    letter-spacing: 0.3px;
}

#tool4 button#minimize-icon {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#tool4 hr {
    width: 9px;
    border: 1.5px solid #FFF;
}

#tool4 .body {
    margin: 5px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#timer {
    font-size: 48px;
    text-shadow: 1px 1px 6px #000;
}

button#start, button#pause, button#reset {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-color: transparent;
    background-position: center;
}

button#start {
    background-image: url(../assets/pomodoro/Play.svg);
}

button#pause {
    background-image: url(../assets/pomodoro/Pause.svg);
}

button#reset {
    background-image: url(../assets/pomodoro/Reset.svg);
}

.tool-content button {
    margin: 5px;
}

#tool5 .tool-content {
    display: flex;
    flex-direction: column;
}

#tool5 .header {
    width: 292px;
    height: 33.044px;
    display: flex;
    padding: 4px;
    align-items: center;
    border-bottom: 1.4px solid #FFF;
    justify-content: space-between;
}

#tool5 h1 {
    margin: 1px 0 0 13px;
    font-size: 11.5px;
    font-weight: bold;
    font-family: Arial;
    letter-spacing: 0.3px;
}

#tool5 #minimize-icon {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#tool5 hr {
    width: 9px;
    border: 1.5px solid #FFF;
}

#tool5 button {
    font-family: Feather Bold;
    background-color: transparent;
}

#tool5 a {
    color: #FFF;
    text-align: center;
}

#tool5 .body {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
}

#tool6 {
    display: grid;
}

#tool6 .tool-content {
    display: flex;
    flex-direction: column;
}

#tool6 .header {
    height: 33.044px;
    display: flex;
    padding: 4px;
    align-items: center;
    border-bottom: 1.4px solid #FFF;
    justify-content: space-between;
}

#tool6 h1 {
    margin: 1px 0 0 13px;
    font-size: 11.5px;
    font-weight: bold;
    font-family: Arial;
    letter-spacing: 0.3px;
}

#tool6 #back {
    color: #FFF;
    width: 45.833px;
    height: 27.7px;
    margin: 1px -93px 0 0;
    border: 1.4px solid #515151;
    cursor: pointer;
    font-size: 9.5px;
    font-weight: bold;
    border-radius: 7px;
    letter-spacing: 0.2px;
    background-color: transparent;
}

#tool6 #minimize-icon {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#tool6 hr {
    width: 9px;
    border: 1.5px solid #FFF;
}

#tool6 ::-webkit-scrollbar {
    width: 3.5px;
    background-color: transparent;
}

#tool6 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FFF;
}

#tool6 #addNotebook {
    display: none;
}

#tool6 #addNotebook .header button#back {
    margin: 1px 0 0 156px;
}

#tool6 form#form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 13px;
    justify-content: center;
}

#tool6 h2 {
    color: #FFF;
    inset: -73.5px 0 0 0;
    height: fit-content;
    margin: 0;
    position: relative;
    font-size: 17px;
    text-align: center;
    font-family: Feather Bold;
    letter-spacing: 0.34px;
}

#tool6 label {
    margin: 25.1px 0 3.86px 6px;
    font-size: 11.5px;
    font-weight: bold;
    font-family: Arial;
    text-shadow: none;
    letter-spacing: 0.22px;
}

#tool6 input#title {
    margin: 0 0 -3px 0;
    border: 1.4px solid #515151;
    height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    background-color: #D9D9D9;
}

#tool6 input#title::placeholder {
    color: #4C5053;
    padding: 0 0 0 13px;
    font-size: 9.9px;
    font-weight: 500;
    letter-spacing: 0.18px;
}

#tool6 .inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 28px 0;
}

#tool6 select#cor {
    color: #4C5053;
    width: 134.6px;
    height: 28.7px;
    border: 1.4px solid #515151;
    font-size: 9.7px;
    text-align: center;
    font-weight: 500;
    border-radius: 7px;
    letter-spacing: 0.2px;
    background-color: #D9D9D9;
}

#tool6 .containerFileInput {
    height: 28.7px;
}

#tool6 .labelFileInput {
    color: #4C5053;
    border: 1.5px solid #515151;
    cursor: pointer;
    padding: 7.7px 30.7px;
    font-size: 9.7px;
    font-family: Arial;
    border-radius: 7px;
    background-color: #D9D9D9;
}

#tool6 input#cover {
    top: -41px;
    left: 1px;
    width: 134.6px;
    height: 27px;
    cursor: pointer;
    opacity: 0;
    position: relative;
    font-size: 0;
    border-radius: 7px;
}

#tool6 button#btn {
    inset: 2.35px 0 0 0;
    position: relative;
}

#tool6 button#btn {
    color: #4C5053;
    height: 28.7px;
    border: 1.4px solid #515151;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    letter-spacing: 0.3px;
    background-color: #FFF;
}

.tool6 {
    position: relative;
}

#tool6 #Notebook {
    position: relative;
}

#tool6 #Notebook .body {
    overflow: auto;
    padding: 17px 11.5px 9px 17px;
    display: flex;
    flex-wrap: wrap;
    max-height: 441px;
    margin: 1px 2px 0 2px;
    flex-direction: row;
    justify-content: space-between;
}

#tool6 #Notebook .linkNotebooks {
    width: 115px;
    height: 167.63px;
    cursor: pointer;
    border: 0;
    margin-bottom: 20px;
    border-radius: 17px;
    background-size: cover;
    background-color: #FFF;
    background-position: center;
    transition: filter 0.3s ease; 
}

#tool6 #Notebook .linkNotebooks:hover {
    filter: brightness(65%);
}

#tool6 #create {
    color: #FFF;
    width: 45.833px;
    height: 27.7px;
    margin: 1px -146px 0 0;
    border: 1.4px solid #515151;
    cursor: pointer;
    font-size: 9.5px;
    font-weight: bold;
    border-radius: 7px;
    letter-spacing: 0.2px;
    background-color: transparent;
}

#tool6 #Notebook .footer {
    width: 292px;
    height: 27.4px;
    border-top: 1.4px solid #FFF;
    padding: 4px;
    text-align: center;
}

#tool6 #notebookSubject {
    display: none;
}

#tool6 #notebookSubject .header button#back {
    margin: 1px 0 0 218px;
    position: absolute;
}

#tool6 #notebookSubject .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 13px;
    overflow: hidden;
    justify-content: center;
}

#tool6 textarea {
    color: #FFF;
    width: 253px;
    height: 421px;
    padding: 10px;
    border: none;
    background-color: transparent;
    resize: none;
    line-height: 1.3;
    font-family: FANGSONG;
}

#tool6 .footer {
    height: 26.814px;
    border-top: 1.4px solid #FFF;
    padding: 4px;
    text-align: center;
}

#tool6 p#feedback {
    margin: 5.97px 0 0 10px;
    display: flex;
    font-size: 11.65px;
    font-weight: bold;
    align-items: center;
    font-family: Arial;
    justify-content: flex-start;
}

#tool6 span {
    margin-left: 5px;
}

#tool7 .header{
    width: 292px;
    height: 33.044px;
    display: flex;
    padding: 4px;
    align-items: center;
    border-bottom: 1.4px solid #FFF;
    justify-content: space-between;
}

#tool7 h1 {
    margin: 1px 0 0 13px;
    font-size: 11.5px;
    font-weight: bold;
    font-family: Arial;
    letter-spacing: 0.3px;
}

#tool7 button#minimize-icon {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#tool7 hr {
    width: 9px;
    border: 1.5px solid #FFF;
}

#tool7 textarea#subject {
    color: #FFF;
    width: 295px;
    height: 149.46px;
    resize: none;
    margin: 1px 1px 4px 0;
    padding: 3px 0 0 4px;
    background-color: transparent;
}

#tool7 textarea#subject:focus {
    outline: none;
}

#tool7 ::-webkit-scrollbar {
    width: 3.5px;
    background-color: transparent;
}

#tool7 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FFF;
}

.rainbow-border {
    right: 9px;
    width: 54px;
    height: 54px;
    bottom: 9px;
    position: absolute;
    box-shadow: 0px 0px 6px 1px #CA00FA;
    border-radius: 50%;
    background-size: 100% 50%;
    background-image: linear-gradient(180deg, #FF0000 10%, #F7421E 23%, #0050C0 27%, #00B010 90%, #FF0000 100%);
    animation: rainbow-border 6s linear infinite;
}

@keyframes rainbow-border {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}

button#perfil-icon {
    right: 11px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    bottom: 11px;
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    background-image: url(../assets/PerfilExample.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .workspace {
        top: 37px;
        right: 0;
        width: 84.7%;
        height: 95%;
    }
    .toolbar {
        top: 46px;
        left: 2.5px;
        width: 12.3%;
        padding: 3px;
    }
    #youtube, #mindfulness, #calendar, #pomodoro, #spotify, #notebook, #task {
        background-size: 33px;
    }
}

@media screen and (max-height: 360px) {
    .workspace {
        top: 40px;
        right: 0;
        width: 92.38%;
        height: 88.8%;
    }
    .toolbar {
        top: 43px;
        left: 2.5px;
        width: 6%;
        bottom: 2.5px;
        padding: 3px;
    }
    #youtube, #mindfulness, #calendar, #pomodoro, #spotify, #notebook, #task {
        background-size: 32px;
    }
    button#task {
        background-position: 7.5px;
    }
}