/*Estrutura d.corpo*/
body {
    color: #FFF;/*Cor d.fonte*/
    /* cursor: url(../assets/Cursor.svg), auto; - Cursor Personalizado*/
    overflow: hidden;/*Esconde barra d.rolagem*/
    font-family: "Feather Bold";/*Estilo d.fonte*/
    /*font-family: Feather;-Sem net-Manter em cache na locahost by Users*/
}

/*Vídeo d.fundo*/
.background-video {
    top: 0;/*Topo*/
    left: 0;/*Esquerda*/
    width: 100%;/*Largura*/
    height: 100%;/*Altura*/
    position: fixed;/*Posição fixa*/
    pointer-events: none;/*Reações d.cursor desativada*/
}

/*Vídeo d.Youtube*/
#youtubeVideo {
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw;
    position: absolute;/*Posição absoluta*/
    min-width: 177.78vh;/*Minímo d.largura*/
    transform: translate(-50%, -50%);/*Transforma translação*/
    min-height: 100vh;/*Minímo d.altura*/
}

/*Cabeçalho*/
header {
    z-index: 1;/*Avançar sobre elementos*/
    display: flex;/*Tela adaptável*/
    position: relative;/*Posição relativa*/
    box-shadow: 0px 2px 15px #000;/*Sombra d.objeto*/
    align-items: center;/*Alinha itens ao centro*/
    flex-direction: column;/*Direção adaptável d.elementos em coluna*/
    background-color: #131E22;/*Cor-Plano d.fundo*/
}

/*Saudações-Cabeçalho*/
header p {
    width: fit-content;
    color: #FFF;
    inset: 9px 0 0 80px; /*ADM*/
    /* inset: 9px 0 0 15px; - Normal*/
    height: fit-content;
    position: absolute;
}

/*Botões*/
.buttons {
    inset: 6.4px;/*Posição definida dentro d.elemento*/
    position: absolute;
}


.buttons button {
    padding: 15px;/*Espaçamento interno entre elementos*/
    position: absolute;
    background-size: cover;/*Prenche plano d.fundo*/
    background-color: #5550;
    background-repeat: no-repeat;/*Repetição d.plano d.fundo nula*/
    background-position: center;/*Posição d.plano d.fundo centro*/
}

/*Botão-Ofensiva*/
button#fireButton {
    /*top: -3.5px;-Sem net*/
    top: -2px;
    left: -6px;
    position: absolute;
    background-size: 28px;/*Tamanho d.plano d.fundo*/
    background-image: url(../assets/Fire.svg);/*Imagem-Plano d.fundo*/
}

/*Botão-Mutar*/
button#muteButton {
    /*top: -4px;-Sem net*/
    top: -2px;
    left: 31px;
    position: absolute;
    /* Imagem d.fundo inicial p,o botão d.mute */
    background-image: url(../assets/Mute.svg);
}

/*Botão-Configurações*/
button#settingsButton {
    /* top: -4px;-Sem net */
    top: -2.3px;
    right: 36px;/*Direita*/
    position: absolute;
    background-image: url(../assets/Enginner.svg);
}

/*Botão-Tela cheia*/
button#fullscreenButton {
    /*top: -3.45px;-Sem net*/
    top: -2.08px;
    right: -2px;
    position: absolute;
    background-image: url(../assets/Fullscreen.svg);
}

/*Título-Cabeçalho*/
header h1 {
    margin: 4.7px 0;/*Espaço externo entre elementos*/
    font-size: 23px;/*Tamanho d.fonte*/
    letter-spacing: 0.46px;/*Espaço entre letras*/
}

/*Linha dêgrade*/
.rainbow-line {
    width: 100%;/*Largura*/
    height: 2px;/*Altura - Esta especifíca determina a espessura d.linha dêgrade*/
    background-size: 50% 100%;/*Dimensão d.cada cor dêgrade*/
    background-image: linear-gradient(90deg, #00B010, #00B010, #0EC6E8, #0050C0, #0050C0, #8C58A3, #8C58A3, #F7421E, #FF0000, #F7421E, #8C58A3, #8C58A3, #0050C0, #0050C0, #0EC6E8,#00B010, #00B010);/*Cores dêgrade d.linha*/
    animation: rainbow 3s linear infinite;/*Nome d.animação, duração, modo e repetição*/
}
/*Animação-Linha dêgrade*/
@keyframes rainbow {/*Controla movimento d.dêgrade*/
    0% {
        background-position: 0 0;/*Posição inicial d.animação*/
    }
    100% {
        background-position: 100% 0;/*Posição final d.animação*/
    }
}

/*Configurações-Barra d.ferramentas*/
.container {
    z-index: 1;
    position: relative;
}

/*Barra d.configurações*/
.ferramentabar {
    height: 0;
    background-color: #131E22;
    position: absolute;
    /*top: 28.5px;-Sem net*/
    top: 31.5px;
    right: 35.8px;
    overflow: hidden;
    transition: height 0.3s;
    width: 29.5px;
    display: flex;
    flex-wrap: wrap;/*Quebra linha de informações em relação a tela*/
    flex-direction: column;
    align-content: center;/*Alinha conteúdo ao centro*/
    align-items: center;
    justify-content: flex-start;/*Justifica conteúdo ao topo em relação a tela*/
}

/*Conteúdo-Modalidade*/
.first-access-form {
    width: fit-content;
    height: fit-content;
    margin: 5px auto;
    border: 1.5px solid #26253CA6;/*Espessura d.Borda, tipo e cor*/
    padding: 15px;
    z-index: 1;
    position: relative;
    text-align: center;/*Texto alinhado ao centro*/
    border-radius: 6px;/*Circunferência d.borda*/
    background-color: #0D0D0D8C;
}

/*Título-Formulário modalidade*/
h3 {
    margin: 0 0 15px 0;/*Margem d.topo, direita, abaixo, esquerda*/
    font-size: larger;
    text-shadow: 1px 2px 3px #000;/*Deslocamento sombra d.texto, borrado e cor*/
}

/*Título-Campo d.seleção-Modadalidade*/
label {
    font-size: 16px;
    font-family: Georgia;
    text-shadow: 1.3px 1px 3px #000;
}

/*Campo d.seleção-Modadalidade*/
.modality-field select {
    width: 131px;
    border: 2px solid #E7E6E6;
    height: 36px;
    background: #FFFFB3;
    box-shadow: 3px 5px 9px 0px #00000073;
    box-sizing: border-box;
    padding: 0 0 0 25px;
    border-radius: 15px;
}

/*Botão-Modalidade*/
form button {
    margin: 15px 0 0 0;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    border-radius: 6px;
    background-color: #F94B63;
}

/*Barra d.ferramentas*/
.toolbar {
    /*top: 44px;-Sem net*/
    top: 47px;
    left: 4.5px;
    width: 3.5%;
    bottom: 8px;
    border: 1px solid #FFF;
    padding: 10px;
    display: flex;
    position: fixed;
    flex-wrap: nowrap;
    border-radius: 7px;
    flex-direction: column;
    justify-content: space-around;
    background-color: #333;
}

/*Itens-Barra d.ferramentas*/
.toolbar-item {
    color: white;
    border: 1px solid #FFF;
    cursor: pointer;
    padding: 21px;
    border-radius: 7px;
    background-color: #555;
}

/*Icones-Barra d.ferramentas*/
#lo-fi, #mindfulness, #calendar, #pomodoro, #spotify, #notebook, #task {
    background-repeat: no-repeat;
    background-position: center;
}

#lo-fi {
    background-image: url(../assets/Sounds.svg);
}

#mindfulness {
    background-image: url(../assets/Mindfulness.svg);
}

#calendar {
    background-image: url(../assets/Calendar.svg);
}

#pomodoro {
    background-image: url(../assets/Pomodoro.svg);
}

#spotify {
    background-image: url(../assets/Spotify.svg);
}

#notebook {
    background-image: url(../assets/Notebook.svg);
}

#task {
    background-image: url(../assets/Nots.svg);
    background-position: 6.5px;
}

#lo-fi.active-button, #mindfulness.active-button, #calendar.active-button, #pomodoro.active-button, #spotify.active-button, #notebook.active-button, #task.active-button {
    border: 2px solid #FFF;
    transform: scale(1.15);
    /* transition: transform 0s ease*/
    transition: transform 0.6s, background-color 0.6s ease;
    background-color: #949494;
}

/*Área d.trabalho*/
.workspace {
    top: 40px;
    right: 1px;
    width: 94%;
    height: 94.37%;
    overflow: hidden;
    position: absolute;
}

/*Ferramentas*/
#tool1, #tool2, #tool3, #tool4, #tool5, #tool6, #tool7 {
    /* Configuração inicial para a ferramenta Pomodoro */
    width: 0px;
    height: 0px;
    cursor: move;
    border: none;
    display: flex;
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
    justify-content: center;
    background-color: #1A2D52;
}

.tool-content {
    padding: 0px;
}

/*Músicas ambientes - Ferramenta*/
#tool1 {
    /*...*/
}

/*Área zen - Ferramenta*/
#tool2 {
    /*...*/
}

/*Agenda - Ferramenta*/
#tool3 {
    /*...*/
}

/*Pomodoro - Ferramenta*/
#tool4 {
    cursor: move;
}

#tool4 .tool-content {
    padding: 13px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

div#timer {
    font-size: 48px;
    text-shadow: 1px 1px 6px #000;
}

button#start {
    color: #000;
    width: 80px;
    border: 2px solid #E7E6E6;
    height: 28px;
    font-size: 14px;
    /* background: #FFFFB3; */
    box-shadow: 3px 5px 9px 0px #00000073;
    box-sizing: border-box;
    border-radius: 15px;
}

button#pause {
    color: #000;
    width: 90px;
    border: 2px solid #E7E6E6;
    height: 28px;
    font-size: 14px;
    /* background: #FFFFB3; */
    box-shadow: 3px 5px 9px 0px #00000073;
    box-sizing: border-box;
    border-radius: 15px;
}

button#reset {
    color: #000;
    width: 100px;
    border: 2px solid #E7E6E6;
    height: 28px;
    font-size: 14px;
    /* background: #FFFFB3; */
    box-shadow: 3px 5px 9px 0px #00000073;
    box-sizing: border-box;
    border-radius: 15px;
}

.tool-content button {
    margin: 5px;
}

/*Spotify - Ferramenta*/
#tool5 {
    /*...*/
}

/*Cadernos - Ferramenta*/
#tool6 {
    cursor: move;
}

#tool6 .tool-content {
    display: flex;
    flex-direction: column;
}

#tool6 .header {
    height: 33.044px;
    display: flex;
    padding: 4px;
    align-items: center;
    border-bottom: 1.4px solid #FFF;
    justify-content: space-between;
}

#tool6 h1 {
    margin: 1px 145px 0 13px;
    font-size: 11.5px;
    font-weight: bold;
    font-family: Arial;
    letter-spacing: 0.3px;
}

#tool6 #back {
    color: #FFF;
    width: 45.833px;
    height: 27.7px;
    margin: 1px 0 0 0;
    border: 1.4px solid #515151;
    cursor: pointer;
    font-size: 9.5px;
    font-weight: bold;
    border-radius: 7px;
    letter-spacing: 0.2px;
    background-color: transparent;
}

#tool6 #minimize-icon {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#tool6 hr {
    width: 9px;
    border: 1.5px solid #FFF;
}

/* Estilos para o corpo do conteúdo */
#tool6 ::-webkit-scrollbar {
    width: 3.5px;
    background-color: transparent;
}

#tool6 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FFF;
}

/* Estilos específicos para AddNotebook */
#tool6 #addNotebook .header h1 {
    margin: 1px 156px 0 13px;
    font-size: 11.5px;
    font-weight: bold;
    font-family: Arial;
    letter-spacing: 0.3px;
}

#tool6 form#form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 13px;
    justify-content: center;
}

#tool6 h2 {
    color: #FFF;
    inset: -73.5px 0 0 0;
    height: fit-content;
    margin: 0;
    position: relative;
    font-size: 17px;
    text-align: center;
    font-family: Feather;
    letter-spacing: 0.34px;
}

#tool6 label {
    margin: 25.1px 0 3.86px 6px;
    font-size: 11.5px;
    font-weight: bold;
    font-family: Arial;
    text-shadow: none;
    letter-spacing: 0.22px;
}

#tool6 input#title {
    margin: 0 0 -3px 0;
    border: 1.4px solid #515151;
    height: 24px;
    border-radius: 7px;
    background-color: #D9D9D9;
}

#tool6 input#title::placeholder {
    color: #4C5053;
    padding: 0 0 0 13px;
    font-size: 9.9px;
    font-weight: 500;
    letter-spacing: 0.18px;
}

#tool6 .inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 28px 0;
}

#tool6 select#cor {
    color: #4C5053;
    width: 134.6px;
    height: 28.7px;
    border: 1.4px solid #515151;
    font-size: 9.7px;
    text-align: center;
    font-weight: 500;
    border-radius: 7px;
    letter-spacing: 0.2px;
    background-color: #D9D9D9;
}

#tool6 .containerFileInput {
    height: 28.7px;
}

#tool6 .labelFileInput {
    color: #4C5053;
    border: 1.5px solid #515151;
    cursor: pointer;
    padding: 7.7px 30.7px;
    font-size: 9.7px;
    font-family: Arial;
    border-radius: 7px;
    background-color: #D9D9D9;
}

#tool6 input#cover {
    top: -39px;
    left: 1px;
    width: 134.6px;
    height: 26.04px;
    cursor: pointer;
    opacity: 0;
    position: relative;
    font-size: 0;
    border-radius: 7px;
}

#tool6 button#btn {
    inset: 2.35px 0 0 0;
    position: relative;
}

#tool6 button#btn {
    color: #4C5053;
    height: 28.7px;
    border: 1.4px solid #515151;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    letter-spacing: 0.3px;
    background-color: #FFF;
}

/* Estilos específicos para Notebook */
#tool6 #Notebook .body {
    overflow: auto;
    padding: 17px 11.5px 9px 17px;
    display: flex;
    flex-wrap: wrap;
    max-height: 441px;
    margin: 2px 2px 0 2px;
    flex-direction: row;
    justify-content: space-between;
}

#tool6 #Notebook .body a {
    width: 115px;
    height: 167.63px;
    cursor: pointer;
    border: 0;
    margin-bottom: 20px;
    border-radius: 17px;
    background-size: cover;
    background-color: #FFF;
}

#tool6 #create {
    color: #FFF;
    width: 45.833px;
    height: 27.7px;
    margin: 1px 0 0 0;
    border: 1.4px solid #515151;
    cursor: pointer;
    font-size: 9.5px;
    font-weight: bold;
    border-radius: 7px;
    letter-spacing: 0.2px;
    background-color: transparent;
}

#tool6 #notebook1 {
    background-image: url(../assets/Livro1.svg);
}
#tool6 #notebook2 {
    background-image: url(../assets/Livro2.svg);
}
#tool6 #notebook3 {
    background-image: url(../assets/Livro3.svg);
}
#tool6 #notebook4 {
    background-image: url(../assets/Livro4.svg);
}
#tool6 #notebook5 {
    background-image: url(../assets/Livro5.svg);
}
#tool6 #notebook6 {
    background-image: url(../assets/Livro6.svg);
}
#tool6 #notebook7 {
    background-image: url(../assets/Livro7.svg);
}
#tool6 #notebook8 {
    background-image: url(../assets/Livro8.svg);
}
#tool6 #notebook9 {
    background-image: url(../assets/Livro9.svg);
}
#tool6 #notebook10 {
    background-image: url(../assets/Livro10.svg);
}
#tool6 #notebook11 {
    background-image: url(../assets/Livro11.svg);
}
#tool6 #notebook12 {
    background-image: url(../assets/Livro12.svg);
}

/* Estilos específicos para NotebookSubject */
#tool6 #notebookSubject .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 13px;
    overflow: hidden;
    justify-content: center;
}

#tool6 textarea {
    color: #FFF;
    width: 253px;
    height: 421px;
    padding: 10px;
    border: none;
    background-color: transparent;
    resize: none;
    line-height: 1.3;
    font-family: FANGSONG;
}

/* Estilos para o rodapé comum */
#tool6 .footer {
    height: 26.814px;
    border-top: 1.4px solid #FFF;
    padding: 4px;
    text-align: center;
}

#tool6 p#feedback {
    margin: 5.97px 0 0 10px;
    display: flex;
    font-size: 11.65px;
    font-weight: bold;
    align-items: center;
    font-family: Arial;
    justify-content: flex-start;
}

#tool6 span {
    margin-left: 5px;
}

/*Notas - Ferramenta*/
#tool7 {
    /*...*/
}

/*Contorno dêgrade*/
.rainbow-border {
    right: 9px;
    width: 54px;
    height: 54px;
    bottom: 9px;
    position: absolute;
    box-shadow: 0px 0px 6px 1px #CA00FA;
    border-radius: 50%;
    background-size: 100% 50%;/*Dimensão d.cada cor dêgrade*/
    background-image: linear-gradient(180deg, #FF0000 10%, #F7421E 23%, #0050C0 27%, #00B010 90%, #FF0000 100%);/*Cores dêgrade d.contorno*/
    animation: rainbow-border 6s linear infinite;/*Nome d.animação, duração, modo e repetição*/
}
/*Animação-contorno dêgrade*/
@keyframes rainbow-border {/*Controla movimento d.dêgrade*/
    0% {
        background-position: 0 0;/*Posição inicial d.animação*/
    }
    100% {
        background-position: 0 100%;/*Posição final d.animação*/
    }
}

button#perfil-icon {
    right: 11px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    bottom: 11px;
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    background-image: url(../assets/PerfilExample.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/*Xiaomi 8 Pro*/
@media screen and (max-width: 768px) {
    .workspace {
        top: 37px;
        right: 0;
        width: 84.7%;
        height: 95%;
    }
    .toolbar {
        top: 46px;
        left: 2.5px;
        width: 12.3%;
        padding: 3px;
    }
    #lo-fi, #mindfulness, #calendar, #pomodoro, #spotify, #notebook, #task {
        background-size: 33px;
    }
}

@media screen and (max-height: 360px) {
    .workspace {
        top: 40px;
        right: 0;
        width: 92.38%;
        height: 88.8%;
    }
    .toolbar {
        top: 43px;
        left: 2.5px;
        width: 6%;
        bottom: 2.5px;
        padding: 3px;
    }
    #lo-fi, #mindfulness, #calendar, #pomodoro, #spotify, #notebook, #task {
        background-size: 32px;
    }
    button#task {
        background-position: 7.5px;
    }
}