/*Estrutura d.corpo*/
body {
    color: #FFF;/*Cor d.fonte*/
    display: flex;
    min-height: 100vh;/*Mínimo d.altura relativo ao espaço d.página*/
    font-family: "Feather";/*Estilo d.fonte*/
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;/*Preenche plano d.fundo*/
    background-image: url(../assets/Background\ -\ Index.svg);/*Imagem d.fundo*/
    background-position: center;/*Centro&reposiciona o topo d.imagem d.fundo*/
}
/*Cabeçalho*/
header {
    display: flex;/*Tela adaptável*/
    align-items: center;/*Alinha itens ao centro*/
    box-shadow: 0px 2px 15px #000;
    flex-direction: column;/*Direção adaptável d.elementos em coluna*/
    background-color: #131E22;/*Cor d.fundo*/
}
/*Título-Cabeçalho*/
header h1 {
    margin: 4.7px 0;/*Espaço externo entre elementos*/
    font-size: 23px;/*Tamanho d.fonte*/
    letter-spacing: 0.46px;/*Espaço entre letras*/
}
/*Linha dêgrade*/
.rainbow-line {
    width: 100%;/*Largura*/
    height: 0.3px;/*Altura - Esta especifíca determina a espessura d.linha dêgrade*/
    background-image: linear-gradient(90deg, #00B010, #00B010, #0EC6E8, #0050C0, #0050C0, #8C58A3, #8C58A3, #F7421E, #FF0000, #F7421E, #8C58A3, #8C58A3, #0050C0, #0050C0, #0EC6E8,#00B010, #00B010);/*Cores dêgrade d.linha*/
    background-size: 50% 100%;/*Dimensão d.cada cor dêgrade*/
    animation: rainbow 5s linear infinite;/*Nome d.animação, duração, modo e repetição*/
}
/*Animação-Linha dêgrade*/
@keyframes rainbow {/*Controla movimento d.dêgrade*/
    0% {
        background-position: 0 0;/*Posição inicial d.animação*/
    }
    100% {
        background-position: 100% 0;/*Posição final d.animação*/
    }
}

main {
    display: block;
    margin: 0 0 25px 0;
}

/*Recipiente-Formulário*/
.login-container {
    margin: 36.9px 0 0 78.8px;/*Margem d.topo, direita, abaixo, esquerda*/
}
/*Título-Formulário*/
#form-login h2 {
    width: 172.95px;
    margin: 0px 0 52px 0;
    font-size: 24.1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.77);/*Sombra d.texto*/
    letter-spacing: 0.482px;
}
/*Rótulos*/
label {
    margin: 0px 0px 0px 15px;
    font-size: 16.7px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.77);
}
/*Especificidades-Campo d.preenchimento*/
input {
    border: 1px solid #E7E6E6;/*Espessura d.Borda, tipo e cor*/
    box-sizing: border-box;/*Tamanho total d.elemento, considerando especificidades*/
    background: #ff698d;/*Plano d.fundo*/
    box-shadow: 3px 5px 9px 0px rgba(0, 0, 0, 0.45);/*Sombra d.elemento*/
    padding-left: 23px;/*Espaçamento interno entre elementos*/
    padding-right: 15px;
    border-radius: 18px;/*Circunferência d.borda*/
}
/*Texto-Campo d.preenchimento*/
input::placeholder {
    color: #404040;
    font-size: 14.7px;
    font-family: Georgia;
}
/*Recipiente-Nome&Email*/
.name-field {
    width: 581px;
    height: 57px;
}
.pass-field {
    width: 581px;
    height: 57px;
    padding: 17px 0 0 0;
}
/*Nome&Email-Campo d.preenchimento*/
input[type="text"] {
    width: 581px;
    height: 36px;
}
input[type="password"] {
    width: 510px;
    height: 36px;
}
/*Botão*/
#btn-register {
    margin: 31.6px 0 0 111px;
    width: 269px;
    height: 43px;
    background: linear-gradient(0deg, #F9CF7D 0%, #A21F5B 20.31%, #621B5A 91.67%);
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    /*Texto*/
    font-family: "Feather";
    text-shadow: 0.6000000238418579px 0.8999999761581421px 1.100000023841858px rgba(0, 0, 0, 0.47);
}
/*Link*/
#register-link {
    color: #FFF;
    margin: 6px 0 0 129px;
    font-size: 11.9px;
    text-decoration: none;
}
/*Engrenagens*/
#object-1, #object-3, #object-5 {
    position: absolute;
    animation: girar-sentido-horario 25s linear infinite;
}
#object-2, #object-4 {
    position: absolute;
    animation: girar-sentido-antihorario 25s linear infinite;
}
#object-1 {
    inset: 327px 0 0 1183.9px;
}
#object-2 {
    inset: 318px 0 0 1177.1px;
}
#object-3 {
    inset: 51.3px 0 0 738.3px;
}
#object-4 {
    inset: 208.3px 0 0 820.3px;
}
#object-5 {
    inset: 229.7px 0 0 738.3px;
}
@keyframes girar-sentido-horario {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes girar-sentido-antihorario {
0% {
    transform: rotate(360deg);
}
100% {
    transform: rotate(0deg);
}
}
/*Recipiente-OU*/
.or-container {
    margin: 0 0 0 50px;
}
/*Linha Esquerda*/
.left-line {
    width: 101.8px;
    height: 2px;
    margin: 43px 0 0px 144px;
    background-color: #FFF;
}
/*OU*/
#or {
    font-size: 13.4px;
    margin: -8.4px 0 0 260px;
}
/*Linha Direita*/
.right-line {
    width: 101.8px;
    height: 2px;
    margin: -10px 0 0 296px;
    background-color: #FFF;
}
/*Recipiente-Mídias Digitais*/
.digitalmedia-container {
    margin: 0 0 0 51px;
}
/*Google&Facebook&Twitter-Botão*/
#google, #facebook, #twitter {
    width: 122px;
    border: 2px solid #7F7F7F;;
    height: 39px;
    box-sizing: border-box;
    border-radius: 15px;
}
/*Google-Botão*/
#google {
    margin: 0 0 0 76px;
    background: #9DC3E6;
    background-image: url(../assets/Google-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}
/*Facebook-Botão*/
#facebook {
    margin: 0 0 0 5px;
    background: #FFFFB3;
    background-image: url(../assets/Facebook-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}
/*Twitter-Botão*/
#twitter {
    margin: 49.9px 0 0 5px;
    background: #FFA5BB;
    background-image: url(../assets/Twitter-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}
/*Retângulo-Objeto*/
.rectangle-container {
    width: 345px;
    height: 458px;
    margin: -451.3px 0px 0px 866px;
    border: 0.1px solid rgba(38, 37, 60, 0.65);
    display: flex;
    align-items: center;
    border-radius: 6px;
    flex-direction: column;
    background-color: rgba(13, 13, 13, 0.55);
}
/*Slogan*/
#img-slogan {
    margin: 21.5px 0 9px 3px;
}
/*Recipiente-Termos d.privacidade*/
.paragrapho {
    color: #E7E6E6;
    margin: 31.9px 0 0 0;
    font-size: 10px;
    text-align: center;
}
/*Termos d.privacidade1&2*/
#term-privacy1, #term-privacy2 {
    width: 325px;
    line-height: 12px;
    letter-spacing: 0.02em;
}
/*Especificidade-Termos d.privacidade2*/
#term-privacy2 {
    margin: 11.1px 0 0 0;
}
/*Especificidade sublinhada-Termos d.Privacidade1&2*/
span {
    text-decoration: underline;
    color: #0563C1;
}
/*Rodapé*/
footer {
    background-color: #131E22;
}
/*Texto-Rodapé*/
footer #copyright {
    margin: 1.8px;
    font-size: 15px;
    text-align: center;
    font-family: Calibri;
}